.navbar-nav a{
  font-size: 18px;
}
.navHeader{
  border: 2px solid #000;
}
.navbar-brand{
  padding: 6px;
  border-radius: 10px;
  background-color: #c5edff;
}
.a-text{
  font-family: Arial, Helvetica, sans-serif !important;
}
.productItem{
  background-color: #9e9e9e3d;
  padding: 15px;
  border-radius: 10px;
}
.cart{
  margin: 30px;
}
.right{
  text-align: right;
}